/* MEDIA QUERIES */
@media screen and (max-width: 850px) {
  #three {
    background-size: contain;
    background-position: 0px;
  }
  #main-div {
    padding: 50px 20px;
  }
  .content-box {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  #burger {
    border: 1px solid var(--white);
    border-radius: 5px;
    height: fit-content;
    width: 41px;
    /* display: none; */
    position: fixed;
    right: 30px;
    top: 20px;
    cursor: pointer;
  }
  #burger .line {
    width: 33px;
    height: 3px;
    background: var(--white);
    margin: 8px;
  }
  #side {
    position: absolute;
    transition: all 1s ease;
    z-index: 999;
    width: 60vw;
  }
  #main-div {
    width: 100%;
  }
  .open {
    left: 0px;
  }
  .closed {
    left: -60vw;
  }
}
